.navbar-brand>img {
    height: 50px;
    padding:0px;
    margin-right:20px;
}
.navbar-brand {
    font-family: Trebuchet MS,serif !important;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 4px;
    margin: 4px;
    color: white !important;
    text-align: center !important;
}
.bg-bsolo{
    background-color:#ed2933 ;
  }
.solo-collapse-button {
    color: white !important;
    border: none;
}

.nav-link {
    font-family: Trebuchet MS, sans-serif !important;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 4px;
    margin: 4px;
    color: white !important;
    text-align: center !important;
    margin-left:30px;
}

.nav-link:hover {
    text-decoration: underline;
    
}
.carousel-item{
    width:100%;
    
}
.carousel-item>img{
    max-width: 100%;
    height:auto;
    display: block;
    position:relative;
}
.carousel-caption{
    top: 10%;
    left: 50%;
    
}

#map {
    height: 100vh;
    
}

#map-container {
    position: relative;
}

#search-container {
    font-family: Trebuchet MS, sans-serif;
    position: absolute;
    z-index: 314159;
    top: 10px!important;
    left: 60px!important;
    min-width:250px;
    min-height:50px;
    padding-top: 10px;
    padding-left:20px;
    padding-right:0px!important;
    margin-right:0px;
    background-color: rgba(255, 255, 255, 0.575);
    display: block;
    font-size:15px;
    border:none;
 
}


#search-results {
    overflow-y: scroll;
    max-height: 200px;
    font-family: Trebuchet MS, sans-serif;
    font-weight: bold;
    font-size:0.9rem;
   
}
#textSearch{
    height:30px;
    position: relative;
    
    font-size:15px;
}
#btnsearch{
    position: relative;
    z-index: 314159;
    background-color:#ed2933;
    border: none;
    left:-5px!important;
    font-size:15px;
    height:30px;
    top: -1px!important;
}

#resetBtn{
    position: absolute;
    z-index: 314159;
    background-color:#ed2933;
    border: none;
    right:20px!important;
    font-size:20px;
    height:40px;
    top: 10px!important;
    font-family: Trebuchet MS, sans-serif;
}


.search-result {
    cursor: pointer;

}
.p-2{
    background-color:#ffffd8;
}
#widgets{
    text-align:center;
    background-color:#ffffd8;
}


.icon-text{
    font-family: Trebuchet MS, sans-serif;
    font-weight: bold;
    color:#ed2933;
}
#tour-container{
    position: absolute;
    z-index: 314159;
    height:40px;
    top: 5px;
    right: 40px;
    padding: 10px;
}
.btnTour>img {
    height: 40px;
    padding:0px;
    margin:0px;
}

.btnTour:hover{
    transform: scale(1.3);
}



#food-container{
    position: absolute;
    z-index: 314159;
    height:40px;
    top: 80px;
    right: 80px;
    padding: 10px;
}
.btnFood>img {
    height: 40px;
    padding:0px;
    margin:0px;
}

.btnFood:hover{
    transform: scale(1.3);
}

#taxi-container{
    position: absolute;
    z-index: 314159;
    height:40px;
    top: 140px;
    right: 80px;
    padding: 10px;
}
.btnTaxi>img {
    height: 40px;
    padding:0px;
    margin:0px;
}
.btnTaxi:hover{
    transform: scale(1.3);
}
#hawker-container{
    position: absolute;
    z-index: 314159;
    height:40px;
    top: 140px;
    right: 80px;
    padding: 10px;
}
.btnHawker>img {
    height: 40px;
    padding:0px;
    margin:0px;
}
.btnHawker:hover{
    transform: scale(1.3);
}
.leaflet-popup-content-wrapper, .leaflet-popup-tip{
    font-family: Trebuchet MS, sans-serif;
    background-color:#ffffd8;
    font-size:0.9rem;
    font-weight: bold;
}

.footer{
    padding:10px 0!important;
    background-color:#ed2933 ;
    position:relative;
    text-align:center!important;
  }
.list{
    box-sizing:border-box!important;
  }
.social a{
    font-size:24px;
    text-align:center!important;
    padding-bottom:25px;
    color:white!important;
    border:2px white!important;
    width: 40px;
    height:40px;
    line-height:38px;
    display:inline-block;
    border-radius:50%;
    margin:0.8px;
    opacity:0.8;
}
.social a:hover{
    opacity:1;
}
  
.footer ul{
    margin-top:0;
    padding:0;
    list-style:none;
    font-size:15px;
    line-height:1.6;
    margin-bottom:0;
    font-family: Trebuchet MS, sans-serif!important;
    font-style:normal;
    font-weight:normal;
    text-align:center;
}
  
.footer ul li a{
    color:white!important;
    text-decoration:none;
    opacity:0.8;
}
  
.footer ul li{
    display:inline-block;
    padding:0 15px;
  }
  
.footer ul li a:hover{
    opacity:1;
  }
  
.footer .copyright{
    margin-top:15px;
    text-align:center!important;
    font-size:13px;
    color:white;
    opacity:0.8;
    font-family: Trebuchet MS, sans-serif!important;
    font-style:normal;
    font-weight:normal;
  }
  
/* #searchCheck{
    display:none;
} */



@media(min-width: 768px) {
    #search-container {
        display: block;
        z-index: 314159;
        top: 70px;
        left: 30px;
    }
    #search-results {
        overflow-y: scroll;
        max-height: 400px;
        font-family: Trebuchet MS, sans-serif;
        font-weight: bold;
        font-size:1.0rem;
    }
    #tour-container{
        position: absolute;
        z-index: 314159;
        height:60px;
        top: 10px;
        right: 80px;
        padding: 10px;
    }
    .btnTour>img {
        height: 60px;
        padding:0px;
        margin:0px;
    }
    .btnFood>img {
        height: 60px;
        padding:0px;
        margin:0px;
    }
    .btnHawker>img {
        height: 60px;
        padding:0px;
        margin:0px;
    }
    .btnTaxi>img {
        height: 60px;
        padding:0px;
        margin:0px;
    }
}