#map{
    height:100vh;
}
#map-container{
    position:relative;
}
#search-container{
    position:absolute;
    z-index:314159;
    top:40px;
    left:50px;
    padding:25px;
    background-color:white;
}
