.navbar-brand>img {
    height: 50px;
    padding:0px;
    margin:0px;
}
.bg-bsolo{
    background-color:#ed2933 ;
  }
.solo-collapse-button {
    color: white !important;
    border: none;
}

.nav-link {
    font-family: Trebuchet MS, sans-serif !important;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 4px;
    margin: 4px;
    color: white !important;
    text-align: center !important;
    margin-left:30px;
}

.nav-link:hover {
    text-decoration: underline;
    
}
.carousel-item{
    width:100%;
    height:100vh;
}
.carousel-item>img{
    max-width: 100%;
    height:auto;
    display: block;
    position:relative;
}
#spaceBeforeMap{
    height: 50px;
}

#map {
    height: 100vh;
}

#map-container {
    position: relative;
}

#search-container {
    position: absolute;
    z-index: 314159;
    top: 70px;
    left: 50px;
    padding: 25px;
    background-color: white;
    display: none;
}

#search-results {
    overflow-y: scroll;
    max-height: 400px;
}

#minSearchBtn {
    position: absolute;
    z-index: 314159;
    left: 50px;
    top: 10px;
}

.search-result {
    cursor: pointer;
}
#tour-container{
    position: absolute;
    z-index: 314159;
    height:60px;
    top: 10px;
    right: 80px;
    padding: 10px;
}
.btnTour>img {
    height: 60px;
    padding:0px;
    margin:0px;
}

@media(min-width: 767px) {
    #search-container {
        display: block;
    }

    #minSearchBtn {
        display: none;
    }
}